<div class="media-display-carrousel__container">
  <div class="media-display-carrousel__header">
    <h4 class="media-display-carrousel__headerTitle">Destacado</h4>
  </div>

  <ul class="media-display-carrousel__body">
    <button class="media-display-carrousel__btn-prev"></button>

    <li class="media-content-display-element__container">
      <app-media-content-display-element></app-media-content-display-element>
    </li>
    <li class="media-content-display-element__container">
      <app-media-content-display-element></app-media-content-display-element>
    </li>
    <li class="media-content-display-element__container">
      <app-media-content-display-element></app-media-content-display-element>
    </li>
    <li class="media-content-display-element__container">
      <app-media-content-display-element></app-media-content-display-element>
    </li>
    <li class="media-content-display-element__container">
      <app-media-content-display-element></app-media-content-display-element>
    </li>
    <li class="media-content-display-element__container">
      <app-media-content-display-element></app-media-content-display-element>
    </li>

    <button class="media-display-carrousel__btn-next"></button>
  </ul>
</div>
