
.landing_page__wrapper {
    display: flex;
    gap: 1rem;
    padding: 2rem 0;
    height: 100%;

  .schedule__container {
    width: 15%;
    min-width: 300px;
  }

  .content_display__container {
    overflow-y: auto;
    scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;

      scrollbar-color: var(--LTDR-THEME_WHITE) rgba(255, 255, 255, 0.3);
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        background-color: rgba(255, 255, 255, 0.3);
        opacity: 0.6;
        width: 4px;
        border-radius: 2px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--LTDR-THEME_WHITE);
        border-radius: 2px;
      }
  }
}
