<div class="schedule_block__container acrylic__block">
  <h2 class="schedule_block__title acrylic__block">Programación</h2>

  <div class="schedule_block__channel_btn__container">
    <a class="channel__btn youtube__btn" href="https://www.youtube.com/c/LaTabernaDeRol" target="blank">
      <img class="channel__btn__img" src="../../../../../assets/imgs/yt-white.svg" alt="logo youtube">
    </a>
    <a class="channel__btn twitch__btn" href="https://www.twitch.tv/latabernaderol" target="blank">
      <img class="channel__btn__img" src="../../../../../assets/imgs/Twitch-small.svg" alt="logo twitch">
    </a>
  </div>

  <div class="schedule_block__schedule-container">
    <app-schedule-item></app-schedule-item>
    <app-schedule-item></app-schedule-item>
    <app-schedule-item></app-schedule-item>
    <app-schedule-item></app-schedule-item>
    <app-schedule-item></app-schedule-item>
    <app-schedule-item></app-schedule-item>
    <app-schedule-item></app-schedule-item>
    <app-schedule-item></app-schedule-item>
    <app-schedule-item></app-schedule-item>
    <app-schedule-item></app-schedule-item>
    <app-schedule-item></app-schedule-item>
    <app-schedule-item></app-schedule-item>
    <app-schedule-item></app-schedule-item>
    <app-schedule-item></app-schedule-item>
    <app-schedule-item></app-schedule-item>
    <app-schedule-item></app-schedule-item>
    <app-schedule-item></app-schedule-item>
  </div>
</div>
