.schedule_block__container {
  width: 100%;
  height: 100%;
  padding: 15px 50px;
  box-sizing: border-box;

  .schedule_block__channel_btn__container {
    display: flex;
    justify-content: space-between;

    .channel__btn {
      display: flex;
      width: 45%;
      height: 56px;

      border-radius: 8px;
      box-shadow: 3px 3px 6px rgba($color: #000000, $alpha: .75);
      box-sizing: border-box;
      padding: 14px 16px;
    }

    .youtube__btn{
      background: linear-gradient(to bottom, #ff0000 0%,#800000 100%);
    }

    .twitch__btn {
      background: -webkit-linear-gradient(top, #6441a5 0%,#322153 100%);
    }

    .channel__btn__img {
      // height: 100%;
      width: 100%;
    }
  }
}
