@use "src/assets/styles";

$FOLDED_NAVBAR-HEIGHT: 10vh;

.titleBar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: min-content;
  box-sizing: border-box;
  z-index: 100;

  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;

  background: styles.$LTDR_BLURRY_VIOLET_DARK;
  backdrop-filter: blur(30px);
  border: solid 1px styles.$LTDR_VIOLET_800;
  box-shadow: 10px 1px 9px -6px rgba(0, 0, 0, 0.63);
}

.mobileNavbar {

  position: fixed;
  bottom: 0;
  width: 100vw;
  height: min-content;
  box-sizing: border-box;
  z-index: 100;


  &__hiddenControlsContainer {

    &--folded {
      height: 0;
    }

    &--expanded {
      padding: 1rem 2rem;
      background-color: styles.$LTDR_BLURRY_VIOLET_DARK;
      backdrop-filter: blur(30px);
      height: 100 - $FOLDED_NAVBAR-HEIGHT;
      width: 100%;
      box-sizing: border-box;

      .logo_taberna {
        margin: 3em 0 3em 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__permanentControlsContainer {
    box-sizing: border-box;
    padding: 1rem 2rem;
    height: ($FOLDED_NAVBAR-HEIGHT);
    width: 100%;
    display: flex;
    justify-content: space-between;

    background: styles.$LTDR_BLURRY_VIOLET_DARK;
    backdrop-filter: blur(30px);
    border: solid 1px styles.$LTDR_VIOLET_800;
    box-shadow: 10px 1px 9px -6px rgba(0, 0, 0, 0.63);

    .mobileNavbar__combatCalculatorButton {
      outline: none;

      font-family: roboto, arial, sans-serif; //TODO: Move this to custom prop
      font-weight: 100;
      font-size: 1.3rem;
      text-align: start;

      max-width: 65%;
      padding: 1em 1.5em;
    }

    &__toggleButton {
      outline: none;
      background-color: transparent;
      border: none;
      color: styles.$LTDR_WHITE;
    }
  }
}
