<div class="landing_page__wrapper">
  <div class="contact__container white__block">
    <form action="#" class="form">
      <h4>CONTACTO</h4>
      <p>Si queres hablar</p>
      <div class="discord__block">DISCORD</div>
      <div class="form__group">
        <label for="name" class="form__label">Nombre</label>
      </div>
      <div class="form__group">
        <input type="text" class="form__input" id="name" required />
      </div>

      <div class="form__group">
        <label for="email" class="form__label">Correo</label>
      </div>

      <div class="form__group">
        <input type="email" class="form__input" id="email" required />
      </div>

      <div class="form__group">
        <label for="mensaje" class="form__label">Mensaje</label>
      </div>

      <div class="form__group">
        <textarea name="mensaje" id="mensaje" rows="10" required></textarea>
      </div>

      <div class="form__button">
        <button class="contact__container-btn">Enviar</button>
      </div>
    </form>
  </div>
</div>
