<nav class="nav_bar__wrapper">
  <img class="logo_taberna" src="../../../../assets/imgs/chest.svg" alt="Logo taberna">

  <app-page-navigation></app-page-navigation>

  <!-- TODO: Create separated component -->
  <button aria-label='Calculadora de combates' class="calc_combates__btn acrylic__block">Calculadora de combates</button>

  <footer>
    <!-- TODO: Create separated component -->
    <section class="contenidos">
      <h3>Contenido</h3>
      <ul>
        <li><a href="">Calculadora</a></li>
        <li><a href="">Videos</a></li>
        <li><a href="">Lista de reproducción</a></li>
        <li><a href="">Donaciones</a></li>
      </ul>
    </section>
    <section class="canales">
      <h3>Canales</h3>
      <ul>
        <li><a href="">youtube</a></li>
        <li><a href="">twitch</a></li>
        <li><a href="">patreon</a></li>
      </ul>
    </section>
  </footer>
</nav>
