@use '../../../../assets/styles';

#nav_bar__wrapper {
  background: styles.$LTDR_BLURRY_VIOLET_DARK;
  backdrop-filter: blur(30px);
  border: solid 1px styles.$LTDR_VIOLET_800;
  box-shadow: 10px 1px 9px -6px rgba(0,0,0,0.63);
  width: 330px;
  height: 100vh;
  display: flex;
  flex-direction: column;

  #logo_taberna {
    width: 125px;
    height: 125px;
    align-self: center;
    margin: 50px;
  }

  // Nav buttons list styles
  #nav_links__wrapper {
    padding: 0;
    margin: 0;
    font-family: styles.$FONT_KLAUDIA;

    li {
      list-style: none;
      display: flex;
      flex-direction: column;

      a {
        text-decoration: none;
        text-align: start;
        color: white;
        font-size: 20px;
        display: block;
        padding: 20px 50px;
      }

      a:hover {
        background: styles.$LTDR_ACCENT_GRADIENT
      }
    }
  }

  #calc_combates__btn {
    font-family: roboto;
    font-weight: 100;
    border: solid 1px #EBEBEB;
    max-width: 65%;
    border-radius: 4px;
    font-size: 20px;
    outline: none;
    padding: 1rem 1.5rem;
    align-self: center;
    margin-top: auto;
    text-align: start;
  }

  footer {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 30px 0;

    section {
      font-family: roboto;
      color: #EBEBEB;
      padding: 0 16px;

      ul {
        list-style: none;
        padding: 0;

        a {
          text-decoration: none;
          color: #EBEBEB;
        }
      }
    }
  }

  nav_bar__button {
    font-family: Klaudia;
  }
}
