<nav id="nav_bar__wrapper">
  <img id="logo_taberna" src="../../../../assets/imgs/chest.svg" alt="Logo taberna">

  <ul id="nav_links__wrapper">
    <li class="nav_bar__button__container">
      <a href="" class="nav_bar__button">Inicio</a>
      <a href="" class="nav_bar__button">Acerca</a>
      <a href="" class="nav_bar__button">Contacto</a>
      <a href="" class="nav_bar__button">Donaciones</a>
    </li>
  </ul>

  <button aria-label='Calculadora de combates' id="calc_combates__btn" class="acrylic__background">Calculadora de combates</button>

  <footer>
    <section id="contenidos">
      <h3>Contenido</h3>
      <ul>
        <li><a href="">Calculadora</a></li>
        <li><a href="">Videos</a></li>
        <li><a href="">Lista de reproducción</a></li>
        <li><a href="">Donaciones</a></li>
      </ul>
    </section>
    <section id="canales">
      <h3>Canales</h3>
      <ul>
        <li><a href="">youtube</a></li>
        <li><a href="">twitch</a></li>
        <li><a href="">patreon</a></li>
      </ul>
    </section>
  </footer>
</nav>
