<div class="monster_card__container white__block">
  <div class="monster_card__container-header">
    <h4 class="monster_card__container-title">Nombre</h4>
    <p class="monster_card__container-cr">CR 20</p>
  </div>
  <div class="monster_card__container-picture">
    <img src="http://lorempixel.com/360/160/" class="monster_card__img" />
  </div>
  <p class="monster_card__container-xp"><span>Costo XP:</span>10</p>
  <div class="monster_card__container-footer">
      <button class="monster_card__container-more start">Más...</button>
      <button class="monster_card__container-btn end">+</button>
      <p class="monster_card__container-many end">2</p>
      <button class="monster_card__container-btn end">-</button>
  </div>
</div>
