
.landing_page__wrapper {
    width: 100%;
    height: 100%;
    padding: 5vh 5%;
    box-sizing: border-box;
  
    display: grid;
    row-gap: 5vh;
    column-gap: 3.5vw;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "btn      content"
                         "schedule content";
  
    .combat_calculator__btn__container {
      grid-area: btn;
    }
  
    .schedule__container {
      grid-area: schedule;
    }
  
    .content_display__container {
      grid-area: content;
    }
  }
  