<div class="mediaDisplaySection__container">
  <div class="mediaDisplaySection__header">
    <h3 class="mediaDisplaySection__headerTitle acrylic__block">Contenido</h3>
  </div>

  <div class="mediaDisplaySection__body">
    <div class="mediaDisplaySection__carrousel">
      <div class="slideshow">
        <LTDR-media-slide *ngFor="let video of youtubeContent.videos">
          <LTDR-video-display [video]="video" style="display: flex;"/>
        </LTDR-media-slide>
      </div>
    </div>

    <div class="mediaDisplaySection__carrousel">
      <div class="slideshow">
        <LTDR-media-slide *ngFor="let playlist of youtubeContent.playlists">
          <LTDR-playlist-display [playlist]="playlist"/>
        </LTDR-media-slide>
      </div>
    </div>

    <div class="mediaDisplaySection__carrousel">
      <div class="slideshow">
        <LTDR-media-slide *ngFor="let short of youtubeContent.shorts">
          <LTDR-video-display [video]="short" />
        </LTDR-media-slide>
      </div>
    </div>

  </div>

</div>
