
.app__wrapper {
  background-image: url('../../src/assets/imgs/main_background_img.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  isolation: isolate;

  display: flex;
  padding-right: 2rem;
  gap: 3rem;
  height: 100vh;

  .nav_container {
    width: 20%;
    min-width: 240px;
  }

  .outlet__container {
    width: 80%;
  }
}

// Img overlay
.app__wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(30, 26, 26, 0.68);
  height: 100vh;
  width: 100%;
}
