<div class="schedule-item__container">
  <div class="schedule-item__header">
    <h4 class="schedule-item__header-day">Domingo</h4>
    <p class="schedule-item__header-time">19:00hs(ar)</p>
  </div>
  <div class="schedule-item__body">
    <div>
      <svg  class="schedule-item__body-media-logo 1schedule-item__body-media-logo--yt">
        <use href="../../../../../assets/imgs/svg/yt_logo-icon.svg#yt-icon"></use>
      </svg>
    </div>
    <div class="schedule-item__body-title">Campaña - Nieblas de Anurem</div>
  </div>
  <div class="schedule-item__footer">
    <button type="button" class="schedule-item__footer-view-more">Más info...</button>
  </div>
</div>
