.calc_combates__btn {
  outline: none;

  font-family: roboto;
  font-weight: 100;
  font-size: 1.5rem;
  text-align: center;

  width: max-content;
  height: max-content;
  padding: 2rem;

  align-self: center;
  margin-top: auto;

  position: relative;

  &::before {
    content: '';
    background-image: url('../../../../assets/imgs/svg/combat-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -10;
  }
}
