/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'klaudiabook';
  src: url('./assets/fonts/Klaudia/klaudia-a855-webfont.woff2') format('woff2'),
       url('./assets/fonts/Klaudia/klaudia-a855-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'klaudiabold';
  src: url('./assets/fonts/Klaudia/klaudiabold-e8oe-webfont.woff2') format('woff2'),
       url('./assets/fonts/Klaudia/klaudiabold-e8oe-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'klaudiabold_oblique';
  src: url('./assets/fonts/Klaudia/klaudiaboldoblique-ongp-webfont.woff2') format('woff2'),
       url('./assets/fonts/Klaudia/klaudiaboldoblique-ongp-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'klaudiaoblique';
  src: url('./assets/fonts/Klaudia/klaudiaoblique-zw28-webfont.woff2') format('woff2'),
       url('./assets/fonts/Klaudia/klaudiaoblique-zw28-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


body {
   margin: 0;
   p {
     margin: 0;
   }
 }

 .acrylic__background {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  color: white;
  box-shadow: 3px 3px 13px rgba(0,0,0,0.45);
}
