/* You can add global styles to this file, and also import other style files */
 body {
   margin: 0;
   p {
     margin: 0;
   }
 }

 .acrylic__background {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  color: white;
  box-shadow: 3px 3px 13px rgba(0,0,0,0.45);
}
