/******************************************************************/
// Fonts
@font-face {
  font-family: "IM-fell-double-pica";
  src: url("../fonts/IM-Fell-Double-Pica/FeDPrm2.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IM-fell-double-pica";
  src: url("../fonts/IM-Fell-Double-Pica/FeDPit2.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "IM-fell-english";
  src: url("../fonts/IM-Fell-English/FeENrm2.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IM-fell-english";
  src: url("../fonts/IM-Fell-English/FeENit2.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "IM-fell-DW-pica";
  src: url("../fonts/IM-Fell-DW-Pica/FePIrm2.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IM-fell-DW-pica";
  src: url("../fonts/IM-Fell-DW-Pica/FePIit2.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "IM-fell-french-cannon";
  src: url("../fonts/IM-Fell-French-Canon/FeFCrm2.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IM-fell-french-cannon";
  src: url("../fonts/IM-Fell-French-Canon/FeFCit2.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "IM-fell-great-primer";
  src: url("../fonts/IM-Fell-Great-Primer/FeGPrm2.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IM-fell-great-primer";
  src: url("../fonts/IM-Fell-Great-Primer/FeGPit2.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "IM-fell-three-line-pica";
  src: url("../fonts/IM-Fell-Three-Line-Pica/FeTLrm2.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

// Fonts
/******************************************************************/
