// color palettes

// LTDR - Violet
$LTDR_VIOLET_800: #1A0A17;
$LTDR_VIOLET_700: #33142D;
$LTDR_VIOLET_600: #4D1E44;
$LTDR_VIOLET_500: #642759;
$LTDR_VIOLET_400: #803271;
$LTDR_VIOLET_300: #993C88;
$LTDR_VIOLET_200: #B3469F;

// LTDR - Green
$LTDR_GREEN_800: #294D39;
$LTDR_GREEN_700: #36664D;
$LTDR_GREEN_600: #448060;
$LTDR_GREEN_500: #519872;
$LTDR_GREEN_400: #5FB386;
$LTDR_GREEN_300: #6DCC99;
$LTDR_GREEN_200: #7AE6AC;

// Palette Aux Colors
$LTDR_DIMMED_GREEN: #A4B494;
$LTDR_BEIGE-GREEN: #BEC5AD;
$LTDR_GRAY_DARK: #252525;

// Special effects
$LTDR_BLURRY_VIOLET_DARK: rgba(63, 45, 67, 0.4);

// Gradients
$LTDR_ACCENT_GRADIENT:
  linear-gradient(148deg,
  rgba(63,45,67,1) 0%,
  rgba(100,39,89,1) 47%,
  rgba(100,39,89,1) 100%
  );

$LTDR_BLACK: #000000;
$LTDR_SEMITONE: #AFAFAF;
$LTDR_WHITE: #FFFFFF;
$LTDR_BLURRY_VIOLET_BTN: #866088;
